[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack
	shallow = true
[submodule "lib/mqtt"]
	path = lib/mqtt
	url = https://github.com/eclipse/paho.mqtt.c
	shallow = true
